.special-heading.counter-heading {
    font-size: 160px;
    line-height: 140px;
    text-transform: lowercase;
    letter-spacing: 0;
    opacity: 0.05;
    margin-bottom: -14px;
}
.special-heading span, .special-heading mark {
    display: inline-block;
}

.fw-900, .bold {
    font-weight: 700;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.special-heading {
    word-wrap: break-word;
    line-height: 1;
    margin: 0;
    width: 100%;
    margin-top: 10px !important;
}
.text-center {
    text-align: center!important;
}






.ls.ms {
    background-color: #f7f7f7;
    color: #707988;
}
.ls {
    background-color: #ffffff;
    color: #838B99;
}

